* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header {
    /* height: 300px; */
    height: 0px;
    width: 100%;
    text-align: center;
    color: black;
    background-image: url(img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#header {
    background-color: white;
    align-self: center;
    width: 100%;
}
body {
    background-color: black;
    font-family: 'Cabin', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}
input[type=radio] {
    display: none;
}
label.selected {
    opacity: 1;

}
.unselected {
    opacity: 0.5;
}
input[type=radio]:checked ~ .text_answer {
    border: 5px green solid;
}
input[type=radio]:checked ~ img {
    border: 5px green solid;
}
.question#animal_question {
    background-image: url(img/animal.png);
}
.question#dr_seuss_question {
    width: 0px;
    background-image: url(img/seuss.jpg);

}
.question#season_question {
    background-image: url(img/season.png);

}
.question#scenic_question {
    background-image: url(img/scenic.png);

}
#seuss_answer1 {
   background-image: url(img/seuss1.png);
   background-size: 300px 300px;
   box-shadow: 5px 10px 18px #888888;
   margin-right: 10px;

}
#seuss_answer2 {
    background-image: url(img/seuss2.jpg);
    background-size: 300px 300px;
    box-shadow: 5px 10px 18px #888888;
    margin-right: 10px;

 }
 #seuss_answer3 {
    background-image: url(img/seuss3.jpg);
    background-size: 300px 300px;
    box-shadow: 5px 10px 18px #888888;

 }
 #seuss_answer4 {
    background-image: url(img/seuss4.jpg);
    background-size: 300px 300px;
    box-shadow: 5px 10px 18px #888888;
    margin-right: 10px;
 }
 #seuss_answer5 {
    background-image: url(img/seuss5.jpg);
    background-size: 300px 300px;
    box-shadow: 5px 10px 18px #888888;
    margin-right: 10px;


 }
 #seuss_answer6 {
    background-image: url(img/seuss6.jpg);
    background-size: 300px 300px;
    box-shadow: 5px 10px 18px #888888;

 }
 #fall_answer {
    background-image: url(img/fall.jpg);
    background-size: 300px 300px;
    box-shadow: 5px 10px 18px #888888;
    margin-right: 10px;

 }
 #winter_answer {
    background-image: url(img/winter.jpg);
    background-size: 300px 300px;
    box-shadow: 5px 10px 18px #888888;
    margin-right: 10px;

 }
 #spring_answer {
    background-image: url(img/spring.jpg);
    background-size: 300px 300px;
    box-shadow: 5px 10px 18px #888888;
 }
 #summer_answer {
    background-image: url(img/summer.jpg);
    background-size: 300px 300px;
    box-shadow: 5px 10px 18px #888888;
 }
 #grim_answer {
    background-image: url(img/grim.jpg);
    background-size: 300px 300px;
    box-shadow: 5px 10px 18px #888888;
    margin-right: 10px;
}
#every_answer {
    background-image: url(img/pine.jpg);
    background-size: 300px 300px;
    box-shadow: 5px 10px 18px #888888;
    margin-right: 10px;
 }
.quiz_item {
    display: flex;
    flex-direction: column;
}
.question {
    margin-bottom: 10px;
    margin-top: 100px;
    height: 150px;
    color: black;
    background-color: #75B9BE;

}
.choices {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    color: white;
    font-size: 50px;
}
#dr_seuss_choices.choices {
    font-size: 30px;
    color: black;
    opacity: 0.8;
    line-height: 1;
    /* Adapted from https://codepen.io/b_atish/pen/nmzEq*/
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
}

/* Adapted from https://www.w3schools.com/howto/howto_css_shake_image.asp */
img.answer_img:hover {
    animation: shake 0.5s; 
    animation-iteration-count: infinite; 
  }
  .text_answer:hover {
    animation: shake 0.5s; 
    animation-iteration-count: infinite; 
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
img.answer_img {
    height: 300px;
    width: 300px;
    box-shadow: 5px 10px 18px #888888;
}
.text_answer {
    height: 300px;
    width: 300px;
    margin-top: 0px;
}
.done_button {
    display: flex;
    align-content: center;
    flex-direction: column;
}
#done {
    text-align: center;
    font-size: 50px;
    border-radius: 50px;
    background-color: transparent;
    height: 200px;
    border-color: black;
    border-width: 2.5px;
}
#dr_seuss_row2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
#dr_seuss_row1 {
    display: flex;
    justify-content: space-around;
    flex-direction: row; 
 }
 #dr_seuss_choices {
     margin-top: 5px;
 }
#season_row2 {
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    margin-bottom: 40px;
}
#season_row1 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.answer_text {
    color: white;
    text-align: center;
}
p {
    opacity: 1;
}
.answer_image {
    margin-top: 30px;
    width: 500px;
    height: 250px;
}
/* https://codemyui.com/gradient-buttons-with-glint-on-hover/ */
.done_button {
    width: 900px;
    height: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    /* background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673); */
    background-image: linear-gradient(to left, #BF8798, #E0BCC9, #E2D0DF, #E0BCC9);

    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.done_button:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.done_button:focus {
    outline: none;
}
/* https://www.w3schools.com/howto/howto_css_modals.asp */
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    /* transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    transform: scale(1) rotate(360deg); */


    /* transform: scale(2) rotate(360deg); */
}
.answer_display {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    background-color: #D1F9F5;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    color: black;
    /* transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    transform: scale(1) rotate(360deg); */
    
    /* transform: scale(0) rotate(720deg);
	opacity: 0;
    transition: all 0.5s;
    transform: scale(1) rotate(0deg);
    opacity: 1; */
    /* transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear; */
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
/* .active {
    background-color: blue;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    transform: scale(1) rotate(720deg);
} */
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
.answer_text {
    color: black;
    font-size: 100px;
    /* align-self: flex-end; */
}
.answer_blurb_text {
    display: flex;
    flex-direction: column;
}
.answer_blurb {
    text-align: center;
}

@media only screen and (max-width : 640px) {
    img.answer_img {
        height: 150px;
        width: 150px;
    }
    .text_answer {
        /* background-color: #FFE4FA; */
        height: 150px;
        width: 150px;
    }
    #dr_seuss_choices.choices {
        font-size: 18px;
        /* color: black;
        font-weight: 900; */
        /* color: black;
        opacity: 0.8;
        line-height: 1; */
    }
    .choices {
        font-size: 30px;
    }
    .done_button {
        width: 300px;
    }
    .answer_display {
        flex-direction: column;
    }
    .answer_image {
        margin-top: 30px;
        padding: 10px;
        width: 100%;
        height: 250px;
    }
    .answer_text {
        font-size: 50px;
    }
}


/* .text_label {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
} */